*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}

body{

background:#f4fcff;

}

header{

background:#0066b2;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

position:fixed;

width:100%;

top:0;

z-index:1000;

}

header h2{

color:white;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-weight:600;

transition:.3s;

position:relative;

}

nav a:hover{

color:#90e0ef;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-5px;

width:0;

height:3px;

background:#90e0ef;

transition:.3s;

}

nav a:hover::after{

width:100%;

}

.banner{

height:50vh;

background:linear-gradient(rgba(0,80,140,.6),
rgba(0,80,140,.6)),
url("../imagens/oceano2.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

margin-top:80px;

}

.banner h1{

font-size:55px;

}

.banner p{

font-size:20px;

margin-top:15px;

}

.sobre{

display:flex;

justify-content:center;

align-items:center;

gap:60px;

padding:80px 10%;

flex-wrap:wrap;

}

.imagem img{

width:450px;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.2);

}

.conteudo{

max-width:550px;

}

.conteudo h2{

color:#0066b2;

font-size:38px;

margin-bottom:20px;

}

.conteudo p{

font-size:18px;

line-height:35px;

}

.objetivos{

padding:80px 10%;

text-align:center;

}

.objetivos h2{

font-size:40px;

color:#0066b2;

margin-bottom:40px;

}

.cards{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.card{

width:300px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card h3{

color:#0077b6;

margin-bottom:15px;

}

.ods{

padding:80px 12%;

background:#0066b2;

color:white;

text-align:center;

}

.ods h2{

margin-bottom:20px;

font-size:38px;

}

.ods p{

font-size:18px;

line-height:35px;

}

.curiosidades{

padding:80px 10%;

text-align:center;

}

.curiosidades h2{

font-size:40px;

color:#0066b2;

margin-bottom:40px;

}

footer{

background:#003b70;

color:white;

text-align:center;

padding:30px;

margin-top:50px;

}
